.cust-list-container {
  display: flex;
  min-width: 80%;
  margin: 25px;
  padding: 10px 50px 20px 10px;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 20px;
  position: relative;
}
.open-listing {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  position: absolute;
  right: 5px;
  font-size: 0.6em;
}
.customer-listing-header {
  font-size: 1.5em;
  font-weight: bold;
  width: 100%;
  color: brown;
  padding: 10px;
}

.customer-estimate {
  font-size: 0.65em;
  font-weight: normal;
  color: #000;
}

.customer-target-date {
  font-size: 0.65em;
  font-weight: normal;
  color: blue;
}

.stage-header {
  background-color: lightgray;
  font-size: 1.5em;
  padding: 20px 0 20px 100px;
  width: 100%;
}
.customer-listing-next-steps {
  font-size: 1em;
  padding: 25px 10px;
  margin-bottom: 2px;
  border-bottom: 1px solid #000;
  position: relative;
  margin-right: 50px;
}

.customer-listing-notes {
  font-size: 1em;
  padding: 25px 10px;
  margin-bottom: 2px;
  position: relative;
  margin-right: 50px;
}

.cc-button {
  position: absolute;
  background-color: blue;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  right: -35px;
  top: 30px;
  padding: 10px;
}

.note-header {
  text-decoration: underline;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.stage-link-container {
  display: flex;
  justify-content: space-around;
}

.stage-link {
  width: 100px;
  height: 50px;
  margin: 3px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stage-container {
}

.listing-hero {
  margin: 10px;
}

.list-item-details-container {
  display: none;
}
